# =============================================
# ================ Server Files ===============
# =============================================
# Dependency directories
node_modules/
package-lock.json

# dotenv environment variables file
.env

# SSH Keys & Local Secrets
Blaine-Anderson-Dev-Portfolio-Server-Secrets
Blaine-Anderson-Dev-Portfolio-Server-Secrets.pub
Blaine-Anderson-Dev-Portfolio-Server-Secrets

# Other
.DS_Store
